.featured{
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: darkslateblue;
  color: white;

  .container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

  

    .left{
      display: flex;
      flex-direction: column;
      h1{
        font-size: 50px;
        i{
          font-weight: 700;
        }
      }

      .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 5px;

        .searchInput{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          img{
            width: 20px;
            height: 20px;
            margin: 10px;
          }
          input{
            border: none;
            outline: none;

          }

        }
        button{
          width: 120px;
          height: 50px;
          cursor: pointer;
          background-color: rgb(236, 115, 125);
          border: none;
          outline: none;
          border-radius: 5px;
          color: #fff;




        }
      }

      .popular{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;

        span{

        }
        button{
          color: #fff;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 20px;
          padding: 5px 10px;
          cursor: pointer;


        }
      }


    }
    .right{
      height: 100%;
      img{
        height: 100%;
        object-fit: contain;
      }

    }

  }
}