.footer{
  display: flex;
  justify-content: center;
  color: gray;
  margin: 50px 0px;
  
  img{
    width: 24px;
    height: 24px;
  }
  .container{
    width: 1400px;
    .top{
      display: flex;
      justify-content: space-between;

      .item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        
        

        h2{
          font-size:17px;
          color: #555;
        }
        span{
          font-weight: 300;
        }


      }


    }
    hr{
      margin: 50px 0px;
      height: 0;
      border: 1px solid lightblue;

    }
    .bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left{
        display: flex;
        align-items: center;
        gap: 20px;
        span{
          font-size: 20px;
        }

      }
      .right{
        display: flex;
        align-items: center;
        gap: 30px;

        .social{
          display: flex;
          align-items: center;
          gap: 20px;

        }
        .link{
          display: flex;
          align-items: center;
          gap:10px;
        }

      }

    }

  }
}