.home{
  .features{
    background-color:#d5f9e5 ;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    &.dark{
      background-color: #0c244b;
      color: wheat;

      p{
        color: rgb(255, 255, 255) !important;

      }
      button{
        top:10px;
        background-color: orange;
        border-radius: 25px;
        width: 200px;
        height: 30px;
        cursor: pointer;
        border:none;
      }

     
    }
    .container{
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 15px;

      .item{
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1{
          font-weight: 500;
          margin-bottom: 10px;
  
        }
        p{
          font-style: 18px;
          font-weight: 300;
          color: gray;
          line-height: 28px;
          letter-spacing: 1px;


  
        }
        .title{
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: gray;

          img{
            width: 24px;
            height: 24px;
          }
         
  
        }
  
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1100px;
        object-fit: contain;
      }

    }

    
  }
  
}