.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#04060b;
  color: beige;
  // border: 1px solid red; 
  transition: 1000ms all ease;
  position: sticky;
  top:0;
  z-index: 999;

  &.active{
    background-color:rgb(250, 250, 250);
    color: #04060b;
  }

  .container{
    width: 1400px;
   
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .logo{
      font-style: 35px;
      font-weight:700;
      display: flex;
      justify-content: center;
      padding-left: 50px;
     
      .sym{
        color:gold;
        padding: 2px;
        font-size: 40px;

      }
      .text{
        font-size: 40px;
        
      }

    }
    .links{
      display: flex;
      gap: 25px;
      align-items: center;
      font-weight:450;
      justify-content: space-evenly;
      padding-right: 60px;

    .user{
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      position: relative;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .options{
        position: absolute;
        top: 50px;
        right: 0;
        padding: 20px;
        background-color: #fff;
        border: 1px solid rgb(147, 144, 144);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: gray;
        width: 150px;
        font-weight: 500;




      }


    }

    button{
      color: rgb(218, 211, 200);
      background-color: rgb(61, 204, 173);
      padding: 10px 20px;
      border-radius:20px;
      cursor: pointer;
      background:transparent;

      &:hover{
        background-color: rgb(67, 255, 242);
        color: #04060b;
      }

    }
    }

  }
  .menu{
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-weight: 350;
    background-color: beige;

  }
}



