.trustedBy{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100px;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    width: 760px;

    img{
      height: 50px;
      width: 50px;
      object-fit: contain;
    }
  }
}